/* General
----------------------- */

ol,
ul {
    padding-left: 0;
}

:root {
    --answeredTextColor: rgba(0, 0, 0, .6);
}


/* Utility Classes
----------------------- */

.clearfix {
    clear: both;
}


/* Question Around
----------------------- */

.nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    overflow-x: scroll;
    max-height: 30px;
}

.site-title {
    display: inline;
}

.nav-mobile-icon {
    display: none !important;
}

.site-nav {
    margin-top: 1.25ch;
    float: right;
}

@media screen and (max-width:768px) {
    .nav-mobile-icon {
        display: block !important;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    .nav-mobile-icon:not(.active)+ul.nav {
        display: none;
    }
    .site-nav {
        float: none;
    }
    .nav {
        flex-flow: column nowrap;
        max-height: none;
        align-content: center;
        text-align: center;
    }
}

.nav li {
    display: inline-block;
    text-overflow: clip;
    white-space: nowrap;
    max-height: 24px;
    margin-bottom: 10px;
    margin-right: 20px;
}

a.nav-link {
    padding: 0;
}

.nav::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 1px solid rgba(125, 125, 125, 0.75);
    max-width: 10px;
}

.nav::-webkit-scrollbar {
    height: 5px;
}

.nav::-webkit-scrollbar * {
    background: transparent;
}

.nav::-webkit-scrollbar-track-piece {
    max-width: 30px;
    width: 30px;
    max-height: 30px;
    height: 30px;
}

.nav::-webkit-scrollbar-thumb {
    background: rgba(125, 125, 125, 0.5);
    max-width: 30px;
    width: 30px;
    max-height: 30px;
    height: 30px;
}


/* Question Box
----------------------- */

.question-header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.question-title {
    overflow-wrap: break-word;
    flex-grow: 1;
}

.quiz-stats {
    width: 165px;
}

#progress::before {
    content: "\1FA9C\00a0Progress:\00a0";
}

#time-left {
    display: block;
}

#time-left::before {
    content: "\23F3\00a0Time left: ";
}

.question-description {
    padding: 0 20px;
}

.question-instruction {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.question-choices-wrapper {
    padding-left: 20px;
}

.question-choices {
    display: inline-block;
}

.question-choice.chosen {
    font-weight: 700;
}

.question-choice {
    display: block;
    background-color: lightgray;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: color 700ms linear, backgroundColor 700ms linear, border 700ms linear;
}

.question-choice:not(.disabled):hover {
    background-color: rgba(220, 220, 220, 0.85);
    border: 1px solid rgba(220, 220, 220, 1);
    transition: color 700ms linear, backgroundColor 700ms linear, border 700ms linear;
    cursor: pointer;
}

.question-choice.is-correct {
    background-color: rgba(25, 135, 84, 0.85);
    border: 1px solid rgba(25, 135, 84, 1);
    color: var(--answeredTextColor);
}

.question-choice.is-correct::after {
    /* ✔️ */
    content: "\00a0\2714";
    transform: translate(8px, -3px);
    display: inline-block;
    font-size: 60%;
    font-weight: 600;
}

.question-choice.shouldve-chosen {
    background-color: rgba(25, 170, 84, 0.85);
    border: 1px solid rgba(25, 170, 84, 1);
    font-weight: 700;
    color: var(--answeredTextColor);
    ;
}

.question-choice.shouldve-chosen::after {
    /* ✔️ */
    content: "\00a0\2714";
    transform: translate(8px, -3px);
    display: inline-block;
    font-size: 60%;
    font-weight: 600;
}

.question-choice.is-wrong {
    background-color: rgba(220, 53, 69, 0.85);
    border: 1px solid rgba(220, 53, 69, 1);
    color: var(--answeredTextColor);
    ;
}

.question-choice.is-wrong::after {
    /* ✗ */
    content: "\00a0\2717";
    transform: translate(6.5px, 0);
    display: inline-block;
    font-size: 80%;
    font-weight: 600;
}


/* Question Types
----------------------- */

@media screen and (max-width: 768px) {
    .relative-pitch {
        flex-flow: column wrap;
    }
    .relative-pitch-b {
        margin-top: 20px;
    }
}

.question-flash-card {
    cursor: pointer;
    position: relative;
    margin-bottom: 4ch;
}

.question-flash-card .control-left {
    position: absolute;
    bottom: -20px;
    left: 0;
    cursor: pointer;
}

.question-flash-card .control-right {
    position: absolute;
    bottom: -20px;
    left: 1ch;
    cursor: pointer;
}

.picture-type {
    width: 50%;
}

.video-type {
    width: 50%;
    height: 150px;
}

@media screen and (max-width:768px) {
    .picture-type {
        width: 100%;
    }
    .video-type {
        width: 100%;
        height: 150px;
    }
}

.question-choices.sortable-list {
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.sortable-wrapper {
    display: inline-block;
    /* Shrink to contents */
    position: relative;
}

.sortable-wrapper .fa-sort {
    position: absolute;
    top: 0;
    right: -12.5px;
    cursor: not-allowed;
    color: lightgray;
}

.sortable-list .question-choice {
    /* cursor: move !important; */
    /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    display: list-item;
}

.question-choices:hover {
    list-style: none;
}

.sortable-list .question-choice.ui-sortable-helper {
    cursor: grabbing !important;
}